@using DatabaseContext.ViewModels;
@model AtmViewModel
@{ ViewData["Title"] = "ATM";
                Layout = "~/Views/Shared/customerlayout.cshtml"; }

<h1>ATM Transactions</h1>
<br>
<p1 class="accttl">Current Account: @Model.AccountNumber</p1>
<br>
<p2 class="balttl">Balance:           <span class="blance"> $@Html.DisplayFor(x => Model.Balance)</span></p2>

<br>

<form asp-action="transaction">
    <div class="form-inline">
        <label class="control-label ttypelbl">Transaction Type</label>
        <select asp-for="TransactionType" class="form-control ttypeinp">
            <!-- Allows future expansion to additional transaction types that may be looped-->
            <option value=1> @Enum.ToObject(typeof(TransactionType), 1) </option>
            <option value=2> @Enum.ToObject(typeof(TransactionType), 2) </option>
        </select>
    </div>
    <br>
    <label class="amtlbl">Amount:</label>
    <input type="text" asp-for="Amount" class="amtinp" />
    <br>
    <label class="text-danger">@Html.ValidationMessageFor(m => m.Amount)</label>
    <br>
    <div class="form-group">
        <label asp-for="Comment" class="control-label comlbl">Comment:</label>
        <textarea asp-for="Comment" class="form-control" rows="3" cols="30">
    </textarea>
    </div>
    <br>
    @Html.HiddenFor(m => m.AccountNumber)
    <br>
    <button type="submit" class="btn btn-primary">Perform Transaction</button>
    @Html.ActionLink("Cancel Transcation", "", new { Controller = "Customer", Action = "Index" }, new { @class = "btn btn-primary" })
</form>

@section Styles{
    <link rel="stylesheet" href="~/css/atm.css" runat="server" />
}
